/* Ajustes no container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* Card */
.login-card {
  background: rgba(0, 0, 0, 0.85);
  border: 2px solid #daa520;
  border-radius: 15px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Header */
.currency-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
}

/* Botões */
.btn {
  border-radius: 10px;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #daa520;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-corretora {
  background: transparent;
  color: #daa520;
  border: 2px groove #daa520;
  transition: all 0.3s ease;
}

.btn-corretora:hover {
  background: #daa520;
  color: #000;
}

/* Seções */
.action-section,
.message-section,
.operation-details,
.login-broker {
  display: grid;
  gap: 10px;
  align-items: center;
}

/* Detalhes da operação */
.action-signal {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 50px;
  font-weight: bold;
  color: #fff;
}

.action-signal.buy {
  background-color: green;
}

.action-signal.sell {
  background-color: red;
}

/* Período */
.operation-period {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
}
