<div style="display: flex; align-items: center; justify-content: center; gap: 20px; border: 1px solid #ccc; padding: 15px; border-radius: 8px; background-color: #f9f9f9; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); max-width: 100%; margin: auto; width: 100%; box-sizing: border-box; overflow: hidden;">
    <img src="assets/pagamentos/14,99.png" alt="QR Code" class="logo" style="width: 65vw; max-width: 450px; height: auto; object-fit: contain;" />
    <span style="font-weight: bold; font-size: 1.5rem; color: #333;">R$ 14,99</span>
</div>