.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #29293b;
  padding: 20px;
  flex-direction: row; /* Cards em linha por padrão (horizontal) */
}

.card {
  width: 300px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card h2 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.card p {
  font-size: 1rem;
  color: #555;
  padding: 0 15px;
}

.card button {
  background-color: #ff840a;
  color: white;
  border: none;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 15px 0;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #ff840a;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Cards em coluna para telas pequenas (vertical) */
  }

  .card {
    width: 90%; /* Ajuste do tamanho dos cards para ocupar mais espaço na tela */
  }
}
